/* .formulaire{
    padding-bottom: 10px;
    margin-top: 0px;
}
.marge{
    
    background-color:#F8F8FB;

}
#color{
    background-color: #F8F8FB;
    height: 600px;
    margin-top: 20px;
} 

/* .segment2{
   
    padding: 250px;
   
} */ 
.segments2{

    margin-top: 0px; 
   
}
/* 
.floatBnt{
    float: right;
}
.bnt{
    float: right;
}
#cont{
    margin-bottom: 60em;

}
.btnGroup{
    margin-top: 5px;
} */ 
