.retour {
  color: green;
}

.header-container {
  position: fixed;
  z-index: 2;
  width: 100%;
  top: 0;
}

.yezi {
  display: flex;
  height: 88px;
  
}

.yezi > * {
    padding: 0;
    margin-left: 0;
}

.yezi > .header:nth-child(1) {
  order: 3;
  margin-left: 0;
}
.yezi > .header:nth-child(2) {
  order: 1;
  margin-top: 0;
  
}
.yezi > .header:nth-child(3) {
  order: 2;
  margin-top: 0;
  margin-left: 20%;
  margin-right: 20%;
  
}

